/* Estilos para el contenedor principal */
.container {
    display: flex; /* Utiliza el modelo de caja flexible */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
    height: 100vh; /* Tamaño del contenedor al 100% de la altura de la ventana */
    margin: 0; /* Elimina los márgenes */
    padding: 0; /* Elimina el relleno */
}

/* Estilos para los formularios */
.formularios {
    flex-direction: row; /* Los formularios se muestran en una fila horizontal */
}

.form {
    margin-bottom: 20px; /* Espacio inferior entre los formularios */
}

/* Estilos para el resultado */
.result {
    text-align: center; /* Centra el texto en el centro horizontal */
    margin-bottom: 20px; /* Espacio inferior entre el resultado y los formularios */
}